<!DOCTYPE html>
<html lang="en-us">
  <meta name=“description" content="Work for the City of LA">
  <meta name=“author” content="Hack for LA">

  <meta property=“og:site_name” content="WorkFor.LA">
  <meta property=“og:title” content="WorkFor.LA">
  <meta property=“og:type” content="Website">
  <meta property=“og:description” content="Making getting a Job with the City of Los Angeles easy!">
  <meta property=“og:url” content="http://www.workfor.la">
  <meta property=“og:image” content="http://www.workfor.la/css/img/cityhall.jpg">
  
  <meta name=“twitter:card” content="WorkforLA">
  <meta name=“twitter:site” content="http://www.workfor.la">
  <meta name=“twitter:creator content="Hack for LA">
  <meta name=“twitter:description” content="How to work for the City of Los Angeles, in plain english.">
  <meta name=“twitter:title” content="WorkForLA">
  <meta name=“twitter:url” content="http://www.workfor.LA">
  <meta name=“twitter:image:src” content="www.workfor.la/css/img/cityhall.jpg">
  {% include head.html %}

  <body>
    {% include page-header.html %}

    <section class="main-content">
      
      {{ content }}

      {% include page-footer.html %}

    </section>

  </body>
</html>
